<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="index.html">Home</a></li>
			<li><a href="#">Dashboard</a></li>
		</ol>
	</div>
</div>
<!--End Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Tables</a></li>
			<li><a href="#">Data Tables</a></li>
		</ol>
		<div id="social" class="pull-right">
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<span>The Class List</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
					<thead>
						<tr>
							<th>ID</th>
							<th>Class Name</th>
							<th>Instructor</th>
							<th>Source</th>
						</tr>
					</thead>
					<tbody>
					<!-- Start: list_row -->
						<tr>
							<td>1</td>
							<td>Web Developer Bootcamp</td>
							<td>Colt Steele</td>
							<td>Udemy.com</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Learn and Understand AngularJS</td>
							<td>Anthony Alicea</td>
							<td>Udemy.com</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Amancio Ortega</td>
							<td>Anthony Alicea</td>
							<td>Udemy.com</td>
						</tr>
						<tr>
							<td>4</td>
							<td>How to Build a Thriving Network</td>
							<td>Justine Clay</td>
							<td>General Assembly</td>
						</tr>
					<!-- End: list_row -->
					</tbody>
					<tfoot>
						<tr>
							<th>ID</th>
							<th>Class Name</th>
							<th>Instructor</th>
							<th>Source</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>